html {
	background-color: #f1f1f1;
	font-size: 16px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #d3d3d3;
	background: url('./images/night-sky.png');
	/* src: https://i.ibb.co/2nwZyv7/night-sky-005-a-star-field-twinkles-in-a-night-sky-loop-hf3owvebl-thumbnail-full01.png */
}

#root {
	min-height: 100%;
	position: relative;
}

#container {
	padding-bottom: 118px; /* Height of the footer */
}

/* Fixes double underline in TextFields */
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
	margin: 0;
}
